<section>
    <div>
        <h3 class="text-center primary-title mb-0">News</h3>
        <h2 class="text-center secondary-title mb-5">LE PIU' RECENTI</h2>
    </div>
    <div class="row g-3">
        <div class="col-6">
            <div class="my-card">
                <h4 class="title">Novità aggiunta nei "copioni"</h4>
                <span class="description">Nella sezione "archivio copioni" è stato aggiunto un nuovo elemento da poter consultare e/o scaricare.</span>
                <p class="subtitle">- Gennaio 2023</p>
            </div>
        </div>
        <div class="col-6">
            <div class="my-card">
                <h4 class="title">Novità aggiunta nei "Gli amici della banda"</h4>
                <span class="description">Nella sezione "Gli amici della banda" sono stati aggiunti i partecipanti di gennaio!</span>
                <p class="subtitle">- Gennaio 2023</p>
            </div>
        </div>
    </div>
</section>
