<section>
    <div class="row align-items-center">
        <div class="col-6">
            <div>
                <img class="img-fluid" src="../../../assets/image/logo.png" alt="">
            </div>
        </div>
        <div class="col-6">
            <div class="primary-title">
                <span>Welcome to</span>
            </div>
            <div class="px-5">
                <div class="secondary-title">
                    <span class="d-block">LA BANDA </span>
                    <span>DEI MISCI</span>
                </div>
                <div class="description">
                    <span class="">Questo sito è uno spazio totalmente, interamente ed assolutamente
                        <span style="color:  #245bad;">GRATUITO</span> a disposizione di tutti coloro che il teatro lo amano, lo
                        curano, lo seguono, lo vivono e/o che comunque contribuiscono in
                        qualche maniera a farlo vivere.</span>
                </div>
            </div>
        </div>
    </div>
</section>
