<section>
    <div class="container">
        <div class="row g-5">
            <div class="col-12 col-xl-4">
                <div class="my-card">
                    <div class="secondary-image">
                        <img class="my-img-fluid" src="../../../assets/image/ragazza-sipario-blu.jpg" alt="">
                    </div>
                    <div class="text-center">
                        <div class="primary-title">
                            <span>Stiamo</span>
                        </div>
                        <div class="secondary-title">
                            <span>CERCANDO</span>
                        </div>
                        <div>
                            <button class="btn my-btn">SCOPRI</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-4">
                <div class="my-card position-relative">
                    <div class="primary-image">
                        <img class="my-img-fluid" src="../../../assets/image/sagoma-sipario-rosso.jpg" alt="">
                    </div>
                    <div class="text-center position-absolute start-50">
                        <div class="primary-title">
                            <span>In scena</span>
                        </div>
                        <div class="secondary-title text-white">
                            <span>A GENNAIO</span>
                        </div>
                        <div>
                            <button class="btn my-btn" style="width: 130px;">VEDI SPETTACOLI</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-4">
                <div class="my-card">
                    <div class="secondary-image">
                        <img class="my-img-fluid" src="../../../assets/image/copione-blu.jpg" alt="">
                    </div>
                    <div class="text-center">
                        <div class="primary-title">
                            <span>I vostri</span>
                        </div>
                        <div class="secondary-title">
                            <span>COPIONI</span>
                        </div>
                        <div>
                            <button class="btn my-btn">LEGGI</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
