<section>
    <div class="bg-image">
    <div class="my-container">
        <div class="card">
            <div class="primary-title">
            <span>Quand'è che siete in scena?</span>
        </div>
        <div class="ms-2 ms-md-4 ms-xl-5">
            <div class="my-title">
                <span>FATECELO SAPERE</span>
            </div>
            <div class="card-description">
                <span>Vuoi far parte del nostro sito ne "I vostri spettacoli" con una pagina dedicata alla tua compagnia con la quale far conoscere <span style="color: #245bad;">GRATUITAMENTE</span> la tua stagione e i tuoi spettacoli? È semplice, basta chiederlo via email nella nostra sezione "Contatti".</span>
            </div>
        </div>
        <div class="text-center">
            <button class="btn my-btn">Contattaci</button>
        </div>
        </div>
    </div>
    </div>
</section>  