<footer>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div class="logo">
                <img class="logo-img" src="https://www.lapolcevera.it/news/foto/media/933_logob-copia.png" alt="Logo">
                <a class="ms-3 " routerLink="/">La Banda dei Misci</a>
            </div>
            <div class="d-flex align-items-center">
                <i class="fa-brands fa-facebook text-white" style="font-size: 20px;"></i>
                <span class="text-white fw-bold ps-3" style="cursor:pointer">CONTATTI</span>
            </div>
        </div>
        <div class="border mt-3"></div>
    </div>
</footer>