<div class="position-relative">
    <div>
        <img class="jumbotron-img" src="../../../assets/image/maschere.jpg" alt="">
    </div>
    <div class="container">
        <div class="position-absolute home-title">
            <div class="col-12 col-md-9">
                <h3>Associazione Culturale e Teatrale</h3>
            </div>
            <div class="col-9 col-md-7">
                <h1>LA BANDA DEI MISCI</h1> 
            </div> 
            <div class="col-4 col-md-3">
                <button class="btn my-btn">SCOPRI DI PIU'</button>
            </div>  
        </div>
    </div>
</div>