:root{
    --primary-color:  #245bad;
    --secondary-color: #1a3969;
}
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: default;
}

.primary-title{
    font-size: 50px;
    color: var(--primary-color);
    letter-spacing: .2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.secondary-title{
    font-weight: bold;
    font-size: 48px;
}

section{
    margin: 5rem 0;
}

.my-btn{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
    font-weight: bold;
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    border-radius: 0;
    &:hover{
        background-color: var(--secondary-color);
        border-color: var(--secondary-color);
        color: white;
    }
}

@media (max-width: 992px) {
    
    .primary-title{
        font-size: 30px;
    } 
    .secondary-title{
            font-size: 90px;
    }
}


@media (max-width: 806px) 
{
}

@media (max-width: 738px) 
{
    .primary-title{
        font-size: 25px;
    } 
    .secondary-title{
            font-size: 60px;
    }  
}

@media (max-width: 576px) 
{
    .primary-title{
        font-size: 20px;
    } 
    .secondary-title{
            font-size: 40px;
    }     
}