.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    z-index: 9999;
}

.scroll-to-top.show {
    display: block;
}

.scroll-to-top:hover {
    background-color: var(--secondary-color);
}
